<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.try(:description).try(:html_safe)%>
</p>

<%if current_user.role == "admin" or current_user.role == "trainer" %>
  <% @users.each do |user| %>
    <% if user.role == "trainee" %>
      <%= user.name %>
    <% end %>
  <% end %>
<% end %>
<%= link_to 'Edit',[:edit, :admin, @task] %> |
<%= link_to 'Back', admin_tasks_path %>
