<div class="card top" style="width: 50rem;">
  <div class="card-body">
    <p>
      <strong>Title:</strong><br>
     <b style="color:black"> <%= @task.title %></b>
    </p>

    <p>
      <strong>Description:</strong>
     <b style="color:black"> <%= @task.try(:description).try(:html_safe)%></b>
    </p>
    <a href="#" class="card-link"><%= link_to 'Back', admin_tasks_path %></a> |
    <% if can? :create, @task%>
    <a href="#" class="card-link"><%= link_to 'Assignment', admin_assignment_path %></a> |
    <% end %>
    <% if can? :update, @task%>
    <a href="#" class="card-link"><%= link_to 'Edit',edit_admin_task_path %> </a>
    <% end %>
  </div>
</div>

<%#if current_user.role == "admin" or current_user.role == "trainer" %>
<%#= form_with(model: [:admin, @task], local: true) do |f| %>
<%# @users.each do |user| %>
<%# if user.role == "trainee" %>
<!-- <li> -->
<%#= f.check_box :user_id, :value => user.id, checked: false  %>
<%#= f.hidden_field :id, :value => @task.id %>
<%#= user.name %>
<!-- </li> -->
<%# end %>
<%# end %>
<%#= f.submit "Submit", class: "btn btn-default" %>
<%# end %>
<%# end %>
