<!-- Preloader Gif -->
<!-- <table class="doc-loader">
	<tr>
		<td>
			<img src="images/ajax-document-loader.gif" alt="Loading..." />
		</td>
	</tr>
</table> -->

<!-- Menu -->
<div class="menu-wrapper center-relative">
	<nav id="header-main-menu">
		<div class="mob-menu">MENU</div>
		<ul class="main-menu sm sm-clean">
			<li><a href="#home">Home</a></li>
			<li><%= link_to 'Chat', conversations_path%></li>
			<li><%= link_to 'Room Chat', room_path%></li>
			<li><a href="#contact">Contact</a></li>
			<li><% if user_signed_in? %>
				<%= link_to 'log out', destroy_user_session_path, method: :delete%> 
				<% else %> 
				<i class="icon-interface-windows"></i><%= link_to 'log In', new_user_session_path %> 
				<%end%>
			</li>
		</ul>
	</nav>
</div>

<!-- Home -->

<div id="home" class="section intro-page">
	<div class="block content-1170 center-relative center-text">
		<%= image_tag 'nsds', :class =>"top-logo"%>
		<br>
		<h1 class="big-title">We Craft Awesome Web And <span>Graphic Design Solutions</span></h1>
		<p class="title-desc">Support bright students today for a better tomorrow</p>
	</div>
</div>

<footer>
	<div class="footer content-1170 center-relative">
		<ul>
			<li class="copyright-footer">
				© 2018 All rights reserved. | Boxus Template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
			</li>
			<li class="social-footer">
				<a href="#"><span class="fa fa-twitter"></span></a>
				<a href="#"><span class="fa fa-behance"></span></a>
				<a href="#"><span class="fa fa-dribbble"></span></a>
				<a href="#"><span class="fa fa-facebook"></span></a>
				<a href="#"><span class="fa fa-rss"></span></a>
			</li>
		</ul>
	</div>
</footer>
