<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<%= devise_error_messages! %>

<div class="form-group-material">
  <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'input-material', :id => 'login-username' %>
  <label for="login-username" class="label-material">Email</label>
</div>

<div class="actions">
  <%= f.submit "Send me reset password instructions", :id => 'login', :class =>  'btn btn-primary'  %>
</div>
<% end %>

<%= render "users/shared/links" %>
