<div class="card top" style="width: 50rem;">
  <div class="card-body">
    <p>
      <strong>Title:</strong><br>
      <b style="color:black"> <%= @task.title %></b>
    </p>

    <p>
      <strong>Description:</strong>
      <b style="color:black"> <%= @task.try(:description).try(:html_safe)%></b>
    </p>
    <a href="#" class="card-link"><%= link_to 'Back', trainer_tasks_path %></a> |
    <% if can? :create, @task%>
    <a href="#" class="card-link"><%= link_to 'Assignment', trainer_assignment_path %></a> |
    <% end %>
    <% if can? :update, @task%>
    <a href="#" class="card-link"><%= link_to 'Edit',edit_trainer_task_path %> </a>
    <% end %>
  </div>
</div>