<nav class="side-navbar">
	<div class="side-navbar-wrapper">
		<div class="sidenav-header d-flex align-items-center justify-content-center">
			<div class="sidenav-header-inner text-center">
				<%= image_tag 'avatar-1.jpg', :class =>"img-fluid rounded-circle"%>
				<h2 class="h5">Anderson Hardy</h2><span>Web Developer</span>
			</div>
			<div class="sidenav-header-logo">
				<a href="index.html" class="brand-small text-center"> <strong>B</strong>
					<strong class="text-primary">D</strong>
				</a>
			</div>
		</div>
		<div class="main-menu">
			<h5 class="sidenav-heading">Main</h5>
			<ul id="side-main-menu" class="side-menu list-unstyled">  
				<li><%= link_to admin_dashboard_path do %>
					<i class="icon-home"></i>Dashboards<%end%>
				</li>
				<% if user_signed_in? %>
				<%if current_user.role == "admin" %>
				<li><%= link_to admin_trainers_path do %>
					<i class="icon-form"></i>Trainers<%end%>
				</li>
				<li><%= link_to admin_trainees_path do %>
					<i class="fa fa-bar-chart"></i>Trainees<%end%>
				</li>
				<%elsif current_user.role == "trainer" %>
				<li><%= link_to admin_trainees_path do %>
					<i class="fa fa-bar-chart"></i>Trainees<%end%>
				</li>
				<%end%>
				<%end%>
				<li><%= link_to admin_tasks_path do %>
					<i class="icon-grid"></i>Tasks<%end%>
				</li>
				<li><%= link_to new_user_session_path do %>
					<% if user_signed_in? %>
					<!-- <p><i class="icon-interface-windows"></i>You are Sign In</p> -->
					<% else %> 
					<i class="icon-interface-windows"></i>Login page<%end%><% end %>
				</li>
			</ul>
		</div>
	</div>
</nav>