<!DOCTYPE html>
<html>
<head>
	<title>AppsImpactTrainers</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'impact_backhand/impact_backhand', media: 'all' %>
	<%= javascript_include_tag 'impact_backhand/impact_backhand' %>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<%= render 'layouts/side' %>
	<%= render 'layouts/header' %>
  <div class="container">
    <%= yield %>
 </div>
 <%= render 'layouts/footer' %>
</body>
</html>
