<!DOCTYPE html>
<html>
<head>
	<title>AppsImpactTrainers</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'impact_backhand/impact_backhand', media: 'all' %>
	<%= javascript_include_tag 'impact_backhand/impact_backhand' %>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="row">
		<div class="col-sm-9">
			<%= render 'layouts/side' %>
			<div class="page">
				<%= render 'layouts/header' %>
				<div class="container">
					<%= yield %>
				</div>
				<%= render 'layouts/footer' %>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="container">
				<% content_for :title, 'admin | Action Cable Chat' %>
				<div class="message-history" id="messages">
					<%= render partial: 'messages/message', collection: @messages %>
				</div>
				<div class="footer">
					<div class="input-box">
						<input type="text" class="input-box_text" id="message_input"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
